/viikko1/NhlStatistics1/build/
/viikko2/viikko2/Verkkokauppa1/build/
/viikko3/viikko3/HelloCucumber/build/
/viikko3/viikko3/LoginCucumber/build/
/viikko3/viikko3/WebLogin/salasanat.txt
/viikko4/MockitoDemo/build/
/viikko4/MaksukorttiMockito/build/
/viikko4/Verkkokauppa/build/